<!DOCTYPE html>
  <head class="home-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
  </head>

  <div class="main">
    <app-nav-bar></app-nav-bar>



    <div class='main-content'>
      <div class="start-section">
        <div class="image-wrapper">
          <img class="image" src="004.jpg">
        </div>
        <div class="about-me">
            <h2>About me</h2>
            <p>Hi, I’m Jeffrey, a 26-year-old Junior Fullstack Software Developer based in Dortmund, Germany. I’m passionate about learning and mastering new technologies, and constantly expanding my skill set.</p>
            <p>Currently, I focus on developing microservices and frontend components, as well as maintaining CI/CD pipelines and Docker-based environments for an textile e-commerce platform.</p>            
        </div>
      </div>

      <div class="second-section">
        <div class="left-block">
          <div class="interests">
            <h2>Interests</h2>
            <p>new technologies, computers, sports, music, art, writing, philosophy</p>
          </div>

          <div class="interests">
            <h2>Technologies</h2>
            <p>
                PHP, TypeScript, Angular, Symfony, Docker, GIT, VIM, MariaDB, Keycloak, Gitlab 
            </p>
          </div>
          <div class="interests">
            <h2>Socials</h2>
            <a href="https://github.com/jefrwld">
              <div class="git-link">
                  <img class="git-img" src="github-mark.svg" alt="github link">
                <span>github</span>
              </div>
            </a>
          </div>
        </div>

        <div class="right-block">
          <div class="recent-posts">
            <h2>My Recent Projects: </h2>
            <ul>
              <li *ngFor="let project of recentProjects">
                <a href="/projects">{{ project }}</a>
              </li>
            </ul>
          </div>
      </div>
      


  <body>
  </body>
  </div>

